@model ShopOnliner.Models.CatalogPageView


<aside>
    <form method="post">
        Поиск по имени
        <input type="text" id="word" name="word"/>
        <input type="submit" name="Искать" />
    </form>
</aside>

<h1>@ViewBag.title</h1>
@foreach (var item in Model.PageItems)
{
    <h3>@item.name</h3>
    <br/>
    <img src="@Url.Action("ShowImage", "Home", new {id = item.mobileId})" />
    <br/>
    @Html.ActionLink(" к описанию", "Info", "Home", new { id = item.mobileId }, null);
    <br/> 
}

<br/>


@foreach (var link in Model.Links)
{
    <strong>
        <a href="@link.Value">@link.Key</a>
    </strong>
}

@ViewBag.title


