@model ShopOnliner.Models.CatalogPageView


<aside>
    <form method="get">
        Часть или полное название
        <input type="text" name="Name"/>
        Минимальная цена 
        <input type="text" name="MinPrice" />
        Максимальная цена
        <input type="text" name="MaxPrice" />
        Максимальныый рейтинг
        <input type="text" name="Rate" />
        <input type="hidden" name="SearchPage" value="1" />
        <button type="submit" name="Искать" />
    </form>
</aside>

<h1>@ViewBag.title</h1>
@foreach (var item in Model.PageItems)
{
    <h3>@item.name</h3>
    <br/>
    <img src="@Url.Action("ShowImage", "Home", new {id = item.mobileId})" />
    <br/>
    @Html.ActionLink(" к описанию", "Info", "Home", new { id = item.mobileId }, null);
    <br/> 
}

<br/>


@foreach (var link in Model.Links)
{
    <strong>
        <a href="@link.Value" >@link.Key</a>
    </strong>
}

<p>@ViewBag.title</p>


