@model ShopOnliner.Models.Item

<h1>@Model.name</h1>

<p>@Model.rate</p>
<p>@Model.minPrice</p>
<p>@Model.maxPrice</p>

<table class="table">
    @foreach (var category in Model.Categories)
    { 
        <tr class="info">
            <th>@category.name </th>
        </tr>
    
        foreach (var subcategory in category.Categories1)
        { 
            <tr>
                <td> @subcategory.name : @subcategory.value</td>
            </tr>
        }
        <br/>
    }
</table>


